<!DOCTYPE html>
<html>

<head>
  <title>后台管理</title>
  <meta charset="utf-8">
  <meta name="author" content="fengyu">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/nav.css">
  <script src="/layui/layui.js"></script>
  <style>
    .layui-side,
    .layui-body {
      top: 60px;
    }

    .layui-body {
      padding: 15px;
    }
  </style>
</head>

<body>
  <!-- 导航-->
  <div class="blog-header layui-bg-black">
    <div class="layui-container">
      <ul class="layui-nav">
        <li class="layui-nav-item" id="haha"><a href="/"><i class="layui-icon layui-icon-home"> </i>首页</a></li>
      </ul>
      <ul class="layui-nav blog-user">
        <li class="layui-nav-item"><a href="/user/logout">退了</a></li>
      </ul>
    </div>
  </div><!-- 左侧导航-->
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree" lay-filter="list">
          {% for right in roleRight %}
            <li class="layui-nav-item">
              <a href="/user/my/{{right.func}}">{{right.name}}</a>
            </li>
          {% endfor %}
        <!-- <li class="layui-nav-item"><a href="/user/my/article">文章管理</a></li>
        <li class="layui-nav-item"><a href="/user/my/comment">评论管理</a></li>
        <li class="layui-nav-item"><a href="/user/my/userface">头像上传</a></li> -->
      </ul>
    </div>
  </div><!-- 后台管理主体部分-->
  <div class="layui-body">
    {% block content %}{% endblock %}
  </div>
  <script>layui.use('element', function () {
      var element = layui.element;
      const $ = layui.$

      $("a").each((i, v) => {
        const a_href = $(v).prop('href')


        if (a_href === location.href) {
          $('li').eq(i).addClass("layui-this")
        }

      })
    });</script>
</body>

</html>