<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/blog/layui/css/layui.css">
    <link rel="stylesheet" href="/blog/css/nav.css">
    {% block css%}{% endblock %}
    <script src="/blog/layui/layui.js"></script>
</head>
<body>
        {% include "./nav.html" %}
    {% block content %}{% endblock %}
    {% include "./footer.html" %} 
    {% block script %}{% endblock %}
    
</body>
</html>